<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>
  <body>

    <%= form_for :anything do |form| %>
    <%= form.cktext_area :content, value: @content, id: 'sometext' %>
  <% end %>
  <%= link_to 'Back', posts_path %>

</body>
</html>
